/* I think this file may be an extra not deleted? */

/* #navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Navbar links */
/* #navbar a {

    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  } */
body {
  background-color: floralwhite;
}
#pic {
  /* height: 50vh; */
  max-width: 100%;
  max-height: 100%;
}
.socialMedia {
  height: 50px;
  width: 50px;
  padding: 5px;
}
.socialMedia:hover {
  box-shadow: 0 2px 10px rgb(56, 78, 201);
}
div {
  padding: 10px;
}

.sectionPictures {
  max-width: 40%;
  max-height: 80%;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  float: left;
  padding-right: 25px;
}
.smallDiv {
  border: 1px solid black;
  border-radius: 25px;
  max-height: 35vh;
}
p {
  display: inline;
}
/* may be able to combine these into one CSS block (contactInfo and vrpaper) */
#contactInfo {
  display: block;
}
#vrpaper{
  display: block;
}
ul{
  padding-left: 20px;
}
